<div class="post-entry">
    <h2>id: {{ object.id }}</h2>
    <p>year: {{ object.year }}</p>
    <p>league: {{ object.league }}</p>
    <p>kind: {{ object.kind }}</p>
    <p>date: {{ object.date }}</p>
    <p>time: {{ object.time }}</p>
    <p>home: {{ object.home }}</p>
    <p>homescore: {{ object.homescore }}</p>
    <p>awayscore: {{ object.awayscore }}</p>
    <p>away: {{ object.away }}</p>
    <p>stadium: {{ object.stadium }}</p>
    <p>viewers: {{ object.viewers }}</p>
    <p>broadcasts: {{ object.broadcasts }}</p>
  </div>