<a href="{% url 'team_home'%}">チーム一覧へ</a>

<h2>新規作成：<a href="{% url 'match_create'%}">追加</a></h2>
{% for post in object_list %}
<div class="post">
  <a style="display:inline">{{ post.id }}:{{ post.year }}/{{ post.date }} {{ post.home }} [{{ post.homescore }}] vs [{{ post.awayscore }}] {{ post.away }}
    <a style="display:inline">
      <a href="{% url 'match_detail' post.pk %}">詳細</a>
      <a href="{% url 'match_edit' post.pk %}">編集</a>
      <a href="{% url 'match_delete' post.pk %}">削除</a>
    </a>
  </a>
</div>
{% endfor %}
<form action="{% url 'match_import' %}" method='POST' enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" name="csv">
  <button type="submit">送信</button>
</form>